{% extends './template.html' %}

{% block title %}Inicio de sesión{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="{{ category }}">
                <span>{{ message }}</span>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <h2>Ingresa a tu cuenta</h2>
        <form id="loginForm" name="loginForm" method="post">
            <div class="element">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" required="true" autocomplete="off"/>
            </div>
            <div class="element">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required="true"/>
            </div>
            <div class="registerOption">
                <span>¿No tienes una cuenta?&nbsp</span>
                <a href="{{ url_for('register') }}"> Registrate</a>
            </div>
            <div class="element">
                <input type="submit" value="Iniciar sesión"/>
            </div>
        </form>
    </div>
{% endblock %}