{% extends './template.html' %}

{% block title %}Sala de chat{% endblock %}

{% block body %}
    <div>
        {% if msgList %}
        {% autoescape false %}
            {% for msg in msgList %}
                {% if msg[0] == username %}
                    <div style="text-align: right;" class="msg">
                        <p style="color: #56275c;">
                            <b>{{ msg[0] }}<p>{{ msg[1] }}</p></b>
                        </p>
                    </div>
                {% else %}
                    <div style="text-align: left;" class="msg">
                        <p style="color: #56275c;">
                            <b>{{ msg[0] }}<p>{{ msg[1] }}</p></b>
                        </p>
                    </div>
                {% endif %}
                <br/>
            {% endfor %}
        {% endautoescape %}
        {% endif %}
        <form id="closeAppForm" action="{{ url_for('closeSession') }}" method="post"></form>
        <form method="post">
            <div class="clientInfo">
                <img src="{{ imgUrl }}" width="100px" height="100px"/>
                <b><p>Usuario: {{ username }}</p></b>
                <b><p>Sala: {{room}}</p></b>
                <button type="submit">Refrescar chat</button>
                <br/>
                <button type="submit" form="closeAppForm">
                    Salir de la aplicación
                </button>
            </div>

            <div class="chatBox">
                    <input 
                        type="text" 
                        name="message" 
                        autocomplete="off" 
                        autofocus 
                        placeholder="Escribe aquí tus mensajes..."
                    >
                    <input type="submit" hidden>
            </div>
        </form>
    </div>
{% endblock %}